.container {
  padding: 25px 50px;
  /*box-shadow: var(--shadow);*/
  background: #eff3ff;
  border-radius: 15px;
  margin: 35px 0;
}
.container > h2 {
  margin-bottom: 0;
}
.container > p:nth-child(2) {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: #6c7cb6;
  margin: 0;
}
.body {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  white-space: pre-line;
  margin-top: -20px;
}

.container > img {
  width: 100%;
  border-radius: 7px;
  margin: 25px 0;
}

@media(max-width: 500px){
  .container {
    padding: 25px;
  }
}
