.main {
  padding: 0 25px;
}
/* Opening */
.openingTime {
  width: fit-content;
  padding: calc(2% + 2px) calc(4% + 10px);
  border-radius: 15px;
  background: #eff3ff;
  margin-bottom: 35px;
}
.openingTime > div {
  display: flex;
  align-items: center;
}
.openingTime > div > p {
  margin: 10px 0;
}
.openingTime > div > a {
  text-decoration: underline;
  margin: 10px 0;
}
.openingTime > div > svg {
  margin-right: 5px;
  flex-shrink: 0;
}
/* HERO */
.hero {
  min-height: 100vh;
  width: 100%;
  max-width: 1400px;
  display: flex;
  margin: 0 auto 150px auto;
}
.container_title {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_title > img {
  width: 150px;
  height: auto;
}
.container_title > h1 {
  max-width: 360px;
  text-align: center;
  margin: 25px 0;
}
.container_images {
  position: relative;
  width: 50%;
  padding: 0 6% 0 0;
  height: fit-content;
  margin: auto;
}
.container_images > img:nth-child(1) {
  position: relative;
  width: 88%;
  border: 10px solid white;
  box-shadow: var(--shadow);
}
.container_images > img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 88%;
  height: auto;
  border: 10px solid white;
  box-shadow: var(--shadow);
}
.container_images > img:nth-child(1) {
  transform: translate(0, 0) rotate(-7deg);
}
.container_images > img:nth-child(2) {
  transform: translate(0, 0) rotate(2deg);
}
@media (max-width: 1000px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .hero {
    min-height: unset;
    flex-direction: column;
  }
  .container_title {
    /* margin-bottom: -100px; */
    width: 100%;
    height: 700px;
  }
  .container_images {
    margin: 0 auto;
    padding: unset;
    width: fit-content;
    height: 400px;
  }
  .container_images > img:nth-child(1),
  .container_images > img:nth-child(2) {
    width: 100%;
    max-width: 500px;
  }
}

/* Section */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.section > h1 {
  text-align: center;
}
.section > p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  max-width: 500px;
  text-align: center;
}

/* Mithelfen */
.cardContainer {
  display: flex;
}
@media (max-width: 700px) {
  .cardContainer {
    flex-direction: column;
    margin: 0 -25px;
  }
}
